div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div a{
    color: chocolate;
    background-color: lightgrey;
    margin: 0.2rem 0.15rem;
    padding: 0.3rem 1rem;
    border-radius: 10rem;
    font-weight: 600;
}
div a:hover{
    opacity: 0.8;
}